code {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    white-space: normal;
    color: #c25;
    padding: 1px 3px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
